@font-face {
  font-family:'TT Norms';
  src: url('../fonts/TTNormsBold.eot');
src: url('../fonts/TTNormsBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNormsBold.woff2') format('woff2'),
  url('../fonts/TTNormsBold.woff') format('woff'),
  url('../fonts/TTNormsBold.ttf') format('truetype'),
  url('../fonts/TTNormsBold.svg#TT Norms Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family:'TT Norms';
  src: url('../fonts/TTNormsLight.eot');
src: url('../fonts/TTNormsLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNormsLight.woff2') format('woff2'),
  url('../fonts/TTNormsLight.woff') format('woff'),
  url('../fonts/TTNormsLight.ttf') format('truetype'),
  url('../fonts/TTNormsLight.svg#TT Norms Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family:'TT Norms';
  src: url('../fonts/TTNormsMedium.eot');
src: url('../fonts/TTNormsMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNormsMedium.woff2') format('woff2'),
  url('../fonts/TTNormsMedium.woff') format('woff'),
  url('../fonts/TTNormsMedium.ttf') format('truetype'),
  url('../fonts/TTNormsMedium.svg#TT Norms Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family:'TT Norms';
  src: url('../fonts/TTNormsRegular.eot');
src: url('../fonts/TTNormsRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNormsRegular.woff2') format('woff2'),
  url('../fonts/TTNormsRegular.woff') format('woff'),
  url('../fonts/TTNormsRegular.ttf') format('truetype'),
  url('../fonts/TTNormsRegular.svg#TT Norms Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}