@import 'fonts';

body {
  color: #141515;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'TT Norms Medium',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}